.landingBannerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}
.landingBannerContainer a {
  width: 100%;
}
.landingBannerContainer img {
  width: 100%;
  height: 12rem;
  border-radius: 15px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.3);
}
