:root {
  --primaryColor: #1e293b;
  --secondaryColor: #7c3aed;
  --white: #ffffff;
}
.cartBlock {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 33rem;
}
.cartBlock div:first-child {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.productsCheckoutBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.productsBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  overflow: auto;
  border-radius: 8px;
  gap: 1rem;
}
.productsBlock span {
  display: flex;
  justify-content: flex-start;
}
.checkoutBlock {
  width: 32%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
}
.checkoutBlock button {
  width: 100%;
  background-color: #7c3aed;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transition: all 0.3s;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.checkoutBlock button:hover {
  background-color: #6d28d9;
}

