.allContentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}
.filterOptionsContainer {
  position: sticky;
  top: 160px;
  width: 18rem;
  padding: 0.5rem;
  background-color: #ffffff;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-right: 1rem;
}
.filterOptionsTitle {
  color: #334155;
  padding: 0.5rem;
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteFiltersBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #d4d4d4;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
}
.ActiveDeleteFiltersBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  border-radius: 15px;
  background-color: #ef4444;
  color: #ffffff;
  padding: 0.3rem 0.5rem;
}
.filterOption {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: #f3f4f6;
  border-radius: 8px;
}
.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.3rem;
}
.optionsContainer label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.optionsContainer label input {
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  border-radius: 15px;
  border: none;
}
.option {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activeOption {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7c3aed;
}
.subFilterOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}
.productsContainer {
  border: 1px solid #e2e8f0;
  padding: 1.5rem;
  width: 70rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 28rem;
  border-radius: 15px;
}
.productsSortByContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1rem;
}
.porductsSortByOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.porductsSortByOptions span {
  font-weight: 700;
  color: #7c3aed;
  cursor: pointer;
  padding: 0.2rem 1rem;
  border-right: 1px solid #64748b;
}
.porductsSortByOptions span:first-child {
  border: none;
  background-color: #ede9fe;
  border-radius: 8px;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.notFoundProductContainer {
  width: 60rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #64748b;
}
.notFoundProductContainer img {
  width: 13rem;
}
.productSkeleton {
  width: 12rem;
  height: 18.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #ddd;
}
