.productsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
  gap: 1rem;
  max-width: 1360px;
}
.productSkeleton {
  width: 12rem;
  height: 18.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
