:root {
  --primaryColor: #1e293b;
  --white: #ffffff;
}
.siteNvigation {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem 2rem 0.7rem 2rem;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
}
.siteNvigationMobile {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 1rem 2rem 0.7rem 2rem;
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  display: none;
}
.topOfNavigationMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downOfNavigation {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.7rem;
}
.optionContainer {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.optionContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 0.5rem;
  gap: 0.3rem;
  font-size: 1rem;
  color: #475569;
}
.optionContainer span {
  width: 0%;
  transition: 0.3s;
  height: 2px;
  background-color: #8b5cf6;
}
.optionContainer:hover span {
  width: 100%;
}

.isActive div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #8b5cf6;
  padding: 0rem 1.3rem;
}
.isActive span {
  width: 100%;
  height: 2px;
  background-color: #8b5cf6;
}

.topOfNavigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigationLogoAndSearchBox {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navigationCartBtnAndSubmitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.siteLogo {
  width: 8.5rem;
  height: 4.5rem;
  animation: img 1s infinite alternate ease-in-out;
}
@keyframes img {
  from {
    opacity: 0.5;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1.05;
  }
}
.submitButton {
  cursor: pointer;
  border: 1px solid #7c3aed;
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  background-color: #ffffff;
  color: #1e293b;
  border-radius: 8px;
}

@media only screen and (max-width: 1024px) {
  .siteNvigation {
    display: none;
  }
  .siteNvigationMobile{
    display: block;
  }
  .menuButton {
    font-size: 2rem;
  }
  .siteLogo {
    animation: none;
    width: 7.5rem;
    height: 4rem;
  }
  .submitButton {
    padding: 0.5rem 1.2rem;
  }
}
