.categoriesSkeletonContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.categoriesSkeletonContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
.categoriesSkeletonContainerMobile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}
.categoriesSkeletonContainerMobile div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
@media only screen and (max-width: 1024px) {
  .categoriesSkeletonContainer {
    display: none;
  }
  .categoriesSkeletonContainerMobile{
    display: flex;
  }
}
