.fatherContainer {
  position: relative;
}
.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  background-color: #ffffff;
  color: #475569;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  font-size: 1.3rem;
  position: relative;
}
.productsInCartCounter {
  right: 0;
  top: 0;
  position: absolute;
  width: 0.9rem;
  font-size: 0.7rem;
  margin: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #8b5cf6;
}
.externalCartContentContainer {
  background: none;
  width: 27rem;
  padding-top: 1.5rem;
  position: absolute;
  top: 39px;
  left: 0px;
}
.innerCartContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.3);
}
.topOfContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: #f5f5f4;
  color: black;
  border-radius: 8px;
  font-size: 0.9rem;
  padding: 0.5rem;
}
.productLength {
  font-size: 0.7rem;
  color: #6b7280;
}
.showCartLink {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2563eb;
}
.yourCartDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.cartContent {
  width: 100%;
  height: 100%;
  padding: 0.5rem 0.5rem 0.5rem 1.5rem;
  max-height: 24rem;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.cartContent::-webkit-scrollbar {
  width: 5px;
  background-color: #e2e8f0;
}

.checkoutButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7c3aed;
  color: #ffffff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
}
.checkoutButton:hover{
  background-color: #8b5cf6;
}
