.cartButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  background-color: #ffffff;
  color: #475569;
  border-radius: 8px;
  padding: 0.6rem 0.8rem;
  font-size: 1.3rem;
  /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1); */
  position: relative;
}
.productsInCartCounter {
  right: 0;
  top: 0;
  position: absolute;
  width: 0.9rem;
  font-size: 0.7rem;
  margin: 0.2rem;
  margin-left: 0.2rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: #8b5cf6;
}