.skeletonAnimation {
  border: 1px solid #ccc;
  background-color: #f9fafb;

  animation: mymove 1s infinite alternate ease-in-out;
}
@keyframes mymove {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}