.siteLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  max-width: 1360px;
  gap: 1.5rem;
}
@media only screen and (max-width: 1024px) {
  .siteLayout {
    gap: 0.5rem;
}
}