.backToUpPosition{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.backToUp{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid #a78bfa;
    color: #a78bfa;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 30px;
    gap: 0.5rem;
}
.backToUp:hover{
    background-color: #8b5cf6;
    color: #ffffff;
}