.productContainer {
  width: 90%;
  height: 5.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #94a3b8;
  padding: 0.5rem;
  border-radius: 15px;
}
.productContainer img {
  width: 20%;
  height: 100%;
}
.productContainer h3 {
  color: #475569;
  font-size: 1.1rem;
  font-weight: 100;
}

