.productCheckout {
  color: #475569;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 0rem 1.5rem;
  font-size: 1rem;
}

.fastSubmitText {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1rem;
}
.fastSubmitImage {
  width: 17rem;
}
.fastSubmitText span {
  width: 26%;
  background-color: #8b5cf6;
  height: 2.5px;
}
.productCheckout section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.productCheckout div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.productButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  border-radius: 30px;
  transition: all 0.3s;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.addToCart {
  background-color: #0f172a;
  color: #ffffff;
}
.addToCart:hover {
  background-color: #7c3aed;
}
.inCart {
  background-color: #7c3aed;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  .productCheckout {
    font-size: 1.1rem;
  }
  .fastSubmitImage {
    display: none;
  }
  .fastSubmitText {
    border-top: 2px solid #ccc;
    font-size: 1.1rem;
    padding-top: 2rem;
  }
  .fastSubmitText span:first-child {
    width: 5%;
  }
  .fastSubmitText span:last-child {
    width: 15%;
  }
  .productButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border-radius: 10px;
    transition: all 0.3s;
    font-size: 1rem;
    padding: 0.5rem;
  }
}
