.siteFooter {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  padding: 2rem 3rem;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  color: white;
  background-color: #192231;
  overflow: hidden;
}
.footerQuickAccess {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.footerQuickAccess div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.9rem;
}
.footerQuickAccess div span:first-child {
  color: #a78bfa;
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}
.footerQuickAccess div p:hover {
  cursor: pointer;
  color: #a78bfa;
}

.contactUsAndSymbols {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0rem 2rem;
}
.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.contactUs span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.contactUs span:last-child {
  cursor: pointer;
  background-color: #8b5cf6;
  padding: 0.5rem;
  border-radius: 8px;
}
.footerLogos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.footerLogos div{
    cursor: pointer;
    background-color: #ffffff;
    width: 7rem;
    height: 8rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerLogos div img{
    width: 5rem;
}
.footerDown {
  width: 100%;
  text-align: center;
  border-top: 1px solid rgb(112, 112, 112);
}
.footerDown p {
  color: rgb(112, 112, 112);
  padding-top: 1.8rem;
  font-weight: 700;
}


@media only screen and (max-width: 1024px) {
  .siteFooter{
    /* z-index: 120; */
  }
  .contactUsAndSymbols{
    flex-direction: column;
    gap: 3rem;
  }
  .contactUs{
    width: 20rem;
  }
  .footerQuickAccess {
    display: none;
  }
}
