*{
  font-family: "Vazir";
  margin: 0px;
  padding: 0px;
  list-style: none;
  outline: none;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}