:root {
  --primaryColor: #1e293b;
  --secondaryColor: #7c3aed;
  --white: #ffffff;
}
hr {
  width: 100%;
}
.productPage {
  width: 100%;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 8px;
  gap: 3rem;
  background-color: #ffffff;
  padding: 2rem;
}
.productBlock {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  border-radius: 8px;
}
.productBlock section {
  width: 100%;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.productBlock section hr{
  width: 1px;
}

.labelsBlock {
  display: flex;
  gap: 2rem;
}
.labelsBlock span {
  color: #7c3aed;
  font-weight: 700;
}
.labelsBlock div {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  background-color: #f1f5f9;
  padding: 0.5rem;
  border-radius: 8px;
}
