.inputControl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.ErrorControl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputControl input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 12px -8px rgba(0, 0, 0, 0.75);
  padding: 0.4rem;
  font-size: 0.9rem;
}
.passwordControl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customStyle {
  cursor: pointer;
  flex: 1;
  transition: "0.3s";
}
.errorText {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-size: 0.8rem;
}
