.categoriesBlock {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}
.categoriesBlock div {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: 700;
  color: #475569;
}
.categoriesBlock div:hover {
  scale: 1.05;
}
.categoriesBlock div:hover img {
  rotate: 2deg;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to top, #7c3aed, #e11d48) border-box;
}
.categoriesBlock div img {
  transition: 0.3s;
  width: 8.5rem;
  height: 8.5rem;
  border-radius: 100%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to bottom, #7c3aed, #e11d48) border-box;
  border: 4px solid transparent;
}

@media only screen and (max-width: 1024px) {
  .categoriesBlock {
    overflow: auto;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
  }
  .categoriesBlock::-webkit-scrollbar {
    display: none;
  }
  .categoriesBlock div img {
    width: 6.5rem;
    height: 6.5rem;
    background: linear-gradient(white, white) padding-box,
      linear-gradient(to bottom, #e11d48, #7c3aed, #ea580c) border-box;
    border: 3px solid transparent;
  }
  .categoriesBlock div {
    font-size: 0.8rem;
  }
}
