:root {
  --primaryColor: #1e293b;
  --secondaryColor: #7c3aed;
  --white: #ffffff;
}
.cartBlock {
  width: 90vw;
  /* max-width: 1170px; */
  max-width: 1360px;
  /* width: 100%; */
  /* height: 26rem; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 33rem;
  /* gap: 0.5rem; */
}
.cartBlock div:first-child {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.productsCheckoutBlock {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 2rem;
}
.productsBlock {
  /* width: max-content; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* max-height: 31rem; */
  overflow: auto;
  border-radius: 8px;
  gap: 1rem;
}
.productsBlock span {
  display: flex;
  justify-content: flex-start;
}
.checkoutBlock {
  /* border: 1px solid var(--secondaryColor); */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  margin-top: 1.5rem;
  border-radius: 5px;
}
.checkoutBlock button {
  cursor: pointer;
  background-color: var(--secondaryColor);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
}
.checkoutBlock button:hover {
  background-color: #6d28d9;
}
.emptyCartBlock {
  border: 1px solid #e2e8f0;
  width: 90vw;
  max-width: 1360px;
  height: 33rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.emptyCartBlock button {
  cursor: pointer;
  width: 18rem;
  background-color: var(--secondaryColor);
  color: var(--white);
  border: none;
  border-radius: 8px;
  padding: 0.7rem;
  font-size: 1rem;
  transition: all 0.2s;
}
.emptyCartBlock button:hover {
  background-color: var(--primaryColor);
}
