.formPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.formPage img {
  width: 11.5rem;
  animation: img 2s infinite alternate ease-in-out;
}
@keyframes img {
  from {
    opacity: 0.5;
    scale: 1;
  }
  to {
    opacity: 1;
    scale: 1.05;
  }
}
.formControl * {
  width: 95%;
}
.formControl {
  transition: 1s;
  width: 25rem;
  padding: 1rem 1.5rem 2rem 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  display: flex;
  box-shadow: 1px 1px 15px -8px rgba(0, 0, 0, 0.75);
  gap: 1rem;
}
.formControl button {
  margin-top: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #7c3aed;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  outline: none;
}
.formControl button:hover {
  background-color: #6d28d9;
}
/* .formControl button:focus{
  background-color: aqua;
} */
