.sliderBlock {
  width: 96%;
  height: 318px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  background-color: #0f172a;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.2);
}
.bannerStyle {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
  animation: bannerStyle 3s infinite alternate ease-in-out;

}
@keyframes bannerStyle {
  from {
    scale: 1;
    rotate: 0deg;
  }
  to {
    scale: 1.05;
    rotate: 1deg;
  }
}
.bannerStyle:hover {
  scale: 1.02;
  rotate: 1deg;
}
.nextSlide {
  cursor: pointer;
  position: absolute;
  right: 0;
  height: 100%;
  width: 3.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  background-color: rgba(250, 255, 255, 0.3);
  font-size: 2rem;
  z-index: 20;
}
.nextSlide:hover {
  width: 5rem;
  background-color: rgba(250, 255, 255, 0.5);
}
.backSlide {
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3.5rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: rgba(250, 255, 255, 0.3);
  font-size: 2rem;
  z-index: 20;
}
.backSlide:hover {
  width: 5rem;
  background-color: rgba(250, 255, 255, 0.5);
}
