.notFoundPage {
  max-width: 1360px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}
.notFoundPage img {
  width: 30rem;
}
.notFoundPage button {
    font-size: 1.3rem;
  padding: 0.5rem 2rem;
  background-color: #6366f1;
  color: white;
  border-radius: 30px;
}
